#Binary files.
/build/
*.dll

#Data files.
/data/
settings.json

#Python files.
__pycache__
.mypy_cache
.pytest_cache

#Minisketch lib.
libminisketch.so
minisketch.dll

#RandomX.
mc_randomx

#Milagro.
incubator-milagro-crypto-c

#Nimble temp files.
/Meros_*.nims

#Virtual Python environments
venv/
